.overlay {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 40px;
    width: 380px;
    min-height: 400px;
    background: #f2f2f2;

        &__thanks {
            min-height: 140px;
        }

        &__close {
            position: absolute;
            top: 0;
            right: -45px;
            font-size: 56px;
            line-height: 30px;
            color: $main-color;
            cursor: pointer;

                &:hover {
                    color: #b40101;
                }
        }

        &__title {
            font-size: 18px;
            font-weight: 700;
            color: $black-color;
            text-align: center;
        }

        &__subtitle {
            margin-top: 10px;
            font-size: 14px;
            font-weight: 500;
            color: $black-color;
            text-align: center;
        }
}

#consultation, #order, #thanks {
    display: none;
}