@import 'variables';
@import 'mixins';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}

/* womanrun */
/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        max-width: 250px;

        img {
            width: 100%;
        }
    }
    &__official {
        text-align: left;
        color: $white-color;
        font-weight: 500;
        font-size: 12px;

            span {
                display: block;
                font-size: 18px;
            }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__phone {
        display: block;
        color: $white-color;
        font-size: 18px;
        font-weight: 500;

            &:hover {
                color: $white-color;
                text-decoration: none;
            }
    }

    &__button {
        @include main-btn;

        margin-top: 8px;
    }
}
/* / header */
.womanrun {
    min-height: 648px;
    background: url(../img/bg/screen.png) center (center / cover) no-repeat;
    padding: 20px 0 90px 0;

        &__wrapper {
            margin-top: 90px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        &__title {
            font-size: 42px;
            line-height: 42px;
            font-weight: 700;
            color: $white-color;
            text-transform: uppercase;
        }
        &__subtitle {
            margin-top: 17px;
            line-height: 17px;
            font-size: 24px;
            font-weight: 500;
            color: $white-color;
            text-transform: uppercase;
        }
        &__items {
            max-width: 430px;
            margin-top: 67px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &__item {
            width: 108px;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            color: $white-color;

                img {
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 20px;
                }
        }
        &__btn {
            @include main-btn;

            font-size: 16px;
            width: 300px;
            height: 50px;
            margin-top: 68px;
        }
        &__link {
            margin-top: 17px;
            font-size: 16px;
            color: $white-color;

                a {
                    color: $white-color;text-decoration: underline;
                    text-transform: uppercase;
                    font-weight: 500;
                }
        }
}
/* womanrun */

/* advantages */
.advantages {
    padding: 70px 0 70px 0;
    min-height: 472px;
    background: #f6f6f6;
    &__title {
        @include title;
    }
    &__items {
        margin: 0 auto;
        margin-top: 64px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 280px;
    }

    &__subtitle {
        margin-top: 38px;
        font-size: 18px;
        font-weight: 700;
        color: $black-color;
    }
    &__text {
        font-size: 14px;
        font-weight: 300;
        margin-top: 27px;
        color: $black-color;

            a {
                color: $main-color;
                text-decoration: underline;
            }
    }
}
/* /advantages */

/* consultation */
.consultation {
    padding: 103px 0 92px 0;
    min-height: 680px;
    background: url(../img/bg/consultation.png) center (center / cover) no-repeat;

        &__title {
            @include title;

            color: $white-color;
            text-align: left;
            line-height: 36px;
        }
        &__subtitle {
            margin-top: 80px;
            color: $white-color;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
            line-height: 26px;
        }     
}
.feed-form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 300px;

        input {
            margin-top: 15px;
            height: 50px;
            border-radius: 4px;
            border: none;
            background: $white-color;
            padding: 0 20px;
            color: $dark-color;
            font-size: 14px;
            font-weight: 300;

        }

        &__btn {
            @include main-btn;

            margin-top: 20px;
            width: 100%;
            height: 50px;
        }
}
/* /consultation */

/* carousel */
.carousel {
    padding: 80px 0;
        &__wrapper {
            max-width: 750px;
            margin: 0 auto;
        }

        &__inner {
            position: relative;
            width: 750px;
            margin: 0 auto;

                img {
                    width: 750px;
                }
        }

        .prev, .next {
            position: absolute;
            top: 50%;
            left: -66px;
            transform: translateY(-50%);
            border: none;
            background: $white-color;

                img {
                    width: 30px;
                    height: 50px;
                }
        }

        .next {
            right: -66px;
            left: auto;
        }
}
/* /carousel */

/* catalog */
.catalog {
    padding-bottom: 100px;
    &__title {
        @include title;
    }
    &__tabs {
        margin-top: 86px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab {
        margin: 5px 5px;
        width: 220px;
        height: 50px;
        border: 2px solid #f7f7f7;
        text-align: center;
        line-height: 48px;
        font-size: 18px;
        font-weight: 500;
        color: $dark-color;
        text-transform: uppercase;
        transform: skewX(-24deg);
        cursor: pointer;
        transition: 0.5s all;
            &_active {
                background: $main-color;
                color: $white-color;
                border: none;
                line-height: 50px;
            }

            div {
                transform: skewX(24deg);
            }
    }

    &__content {
        margin-top: 60px;
        display: none;
        justify-content: flex-start;
        flex-wrap: wrap;
            &_active {
                display: flex;
            }

            .catalog-item {
                margin: 0 auto;
                padding: 20px 20px;
                width: 300px;
                min-height: 440px;
                border: 2px solid #f7f7f7;
                overflow: hidden;
                margin-bottom: 30px;

                    &__img {
                        max-width: 100%;
                        display: block;
                        margin: 0 auto;
                        height: 200px;
                    }
                    &__subtitle {
                        margin-top: 20px;
                        font-size: 16px;
                        font-weight: 700;
                        color: $black-color;
                        text-align: center;
                    }
                    &__text {
                        margin-top: 16px;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 16px;
                        color: $black-color;
                        text-align: center;
                    }
                    &__link {
                        display: block;
                        margin-top: 18px;
                        font-size: 14px;
                        font-weight: 500;
                        color: $main-color;
                        text-decoration: underline;
                        text-align: center;
                    }

                    hr {
                        margin-top: 20px;
                        margin-bottom: 20px;
                        background: #e8e8e8;
                        border-bottom: none;

                    }
                    &__footer {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;
                    }
                    &__old-price {
                        font-size: 14px;
                        font-weight: 300;
                        color: #555555;
                        text-decoration: line-through;
                    }
                    &__price {
                        font-size: 20px;
                        font-weight: 700;
                        color: $black-color;
                    }
                    &__btn {
                        @include main-btn;

                        width: 130px;
                        height: 40px;
                        font-size: 14px;
                        font-weight: 700;
                    }

                    &__wrapper {
                        display: flex;
                        width: calc(200% + 40px);
                    }

                    &__content {
                        width: 50%;
                        margin-right: 0;
                        transform: translateX(-100%);
                        transition: 0.5s all;
                            &_active {
                                transform: translateX(0%);
                                margin-right: 20px;
                            }
                    }

                    &__list {
                        position: relative;
                        width: 50%;
                        margin-left: 20px;
                        padding-right: 20px;
                        padding-left: 19px;
                        transition: 0.5s all;
                        padding-bottom: 0;
                        list-style-type: none;
                            &_active {
                                transform: translateX(-100%);
                                margin-left: 0;
                            }

                            li {
                                position: relative;
                                margin-bottom: 20px;
                                color: $dark-color;
                                font-size: 14px;
                                font-weight: 300;
                                    &:before {
                                        position: absolute;
                                        top: 6px;
                                        left: -14px;
                                        content: '';
                                        width: 5px;
                                        height: 5px;
                                        background: $main-color;
                                    }
                            }
                    }

                    &__link-back {
                        text-align: center;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(calc(-50% - 10px));
                        display: block;
                        color: $main-color;
                        font-size: 14px;
                        font-weight: 500;
                        text-decoration: underline;
                        text-transform: uppercase;
                            &:hover {
                                color: $main-color;
                            }
                    }
            }
    }
}
/* /catalog */

/* reviews */
.reviews {
    margin-bottom: 70px;
        &__header {
            @include title;
        }
        &__item {
            margin-top: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 2px solid #f7f7f7;
            padding-bottom: 50px;
                &:nth-child(4) {
                    border-bottom: none;
                }
        }
        &__img {
            width: 170px;
            height: 170px;
        }
        &__text {
            margin-left: 60px;
            max-width: 660px;
        }
        &__title {
            color: $black-color;
            font-size: 17px;
            font-weight: 700;
        }
        &__subtitle {
            color: $dark-color;
            margin-top: 10px;
            font-size: 14px;
            font-weight: 300;
        }
        &__descr {
            color: $black-color;
            margin-top: 20px;
            font-size: 16px;
            font-weight: 300;
        }
}
/* /reviews */

/* footer */
.footer {
    height: 630px;
    position: relative;
        
        &__info {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            margin: 0 auto;
            padding: 50px 60px;
            max-width: 460px;
            height: 270px;
            background: $main-color;
        }
        &__title {
            font-size: 20px;
            font-weight: 500;
            color: $white-color;
            text-align: center;
                address {
                    margin-bottom: 0;
                }
        }
        &__phone, a {
            margin-top: 36px;
            font-size: 20px;
            font-weight: 700;
            color: $white-color;
            text-align: center;
        }
        &__social-items {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__social-item {
            margin: 0 15px;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid $white-color;
            border-radius: 100%;
                &:hover {
                    background: rgba(255, 255, 255, 0.2);
                }
        }

        &__social-img {
            display: block;
        }
}
/* /footer */

@import 'media';